{block content}
    <div class="main-container">
        <div id="result">
            <input id="result-input" type="text" value="http://{$_SERVER['HTTP_HOST']}{$_SERVER['REQUEST_URI']}" autofocus="autofocus">
        </div>
        <div id="image-view">
            <a href="{$source}">
                <img src="{$source}"/>
            </a>
        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    <script src="{$basePath}/js/image.view.js"></script>
{/block}
