#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
doctrine:
	user: w106665_screen
	password: BbW2JuwR
	dbname: d106665_screen
	host: wm93.wedos.net

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	router: App\RouterFactory::createRouter
	imageStorage: Screenuj\Model\ImageStorage(%wwwDir%/uploads, /www/uploads)
	- Screenuj\Model\HashManager
	- Screenuj\Services\ImageService
	- Screenuj\Services\UserService
	- Screenuj\Services\LinkService
	nette.latteFactory:
		setup:
			- setAutoRefresh(true)
	
nette:
	latte:
		macros:
			- Screenuj\Model\MyMacros::install
	
extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
