@import url(http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Teko);

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: url('/../www/images/white_wall_hash.png');
}

a { text-decoration: none; }

#main {
    width: 1000px;
    margin: 0 auto;
}

#top {
    background-color: black;
    height: 60px;
    border-bottom: 3px solid #4ABEF9;
}

#top header {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 10px;
}

#top h1 {
    color: white;
    margin: 0;
    padding: 0;
}
.top-container {
    display: flex;
    justify-content: space-between;
}

.top-container .right {
    display: flex;
    margin-top: 4px;
}

.top-container .menu {
    margin-right: 30px;
}

.top-container .menu a {
    color: white;
}

#top .title {
    line-height: 45px;
}

#top .title a {
    text-decoration: none;
    color: white;    
}

.main-container {
    margin-top: 15px;
}

#result {
    text-align: center;
}

#result input {
    font-size: 1.5em;
    border: 2px solid #4ABEF9;
    text-align: center;
    width: 400px;
}

#upload-area {
    text-align: center;
    height: 700px;
    background: rgba(0, 0, 0, 0.1);
    border: 3px dashed #4ABEF9;
    margin-top: 15px;
}

#upload-area.hover {
    border-color: #4ABEF9;
    border-style: solid;
    box-shadow: 10px 10px 100px 10px #888 inset;    
}

#upload-area p {
    margin-top: 30%;
    font-size: 2em;
    pointer-events: none;
}

#progress-container {
    margin: auto;
}


#progress-div {
    border: #4ABEF9 1px solid;
    margin: 15px 0px;

    text-align:center;
}

#progress-bar {
    background-color: #4ABEF9;
    height:10px;
    color: #FFFFFF;
    width:20%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}

.upload-container {
    margin: auto;
    margin-top: 20px;
    position: relative;    
}

.upload-container.uploaded {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.59);
}

.upload-container .toolbox {
    position: absolute;
    left: -50px;
    width: 50px;
    display: none;
}

.toolbox .item {
    width: 35px;
    height: 35px;
    background-color: #40AAE0;
    margin-bottom: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.toolbox .selected {
    background-color: black;
}

.toolbox .pencil {
    background-image: url('/../www/images/edit45.png');
}

.toolbox .rectangle {
    background-image: url('/../www/images/rectangle.png');
}

.toolbox .line {
    background-image: url('/../www/images/line.png');
}

.toolbox .crop {
    background-image: url('/../www/images/crop.png');
}

.toolbox .save {
    background-image: url('/../www/images/save.png');
}

#image-view {
    text-align: center;
    margin-top: 15px;
}

#image-view img {
    max-width: 1000px;
    border: 1px solid black;
}

.main-container.gallery {
    text-align: center;
    width: 960px;
    margin: 15px auto 0 auto;    
}

.main-container.gallery .thumb {
    width: 150px;
    height: 150px;
    float: left;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 25px 5px;
    
}

.gallery .thumb img{
    width: 150px;
    height: 150px;   
    cursor: zoom-in;
    border: 1px solid black;
}

.main-container.gallery .thumb p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
}

.btn.auth,
.btn.auth:visited {
    position: relative;
    display: inline-block;
    /* padding: 7px 10px 3px 0px; */
    background: #3b5998;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.btn.auth:hover,
.btn.auth:focus,
.btn.auth:active {
    color: #222;
    text-decoration: none;
}

.btn.auth:before {
    float: left;
    
}

.btn.auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Facebook (extends .btn-auth)
   ========================================================================== */

.btn.facebook,
.btn.facebook:visited {
    background: #3b5998;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-right: 10px;
    padding-top: 5px;
}

.btn.facebook:hover,
.btn.facebook:focus {
    color: #fff;
    background-color: #3b5998;
    
}

.btn.facebook:active {
    background: #354f88;
}

/** Icon */
.btn.facebook:before {
    margin-top: -5px;
    margin-right: 10px;
    background-color: #354f88;
    padding: 5px 0px 2px 0px;
    width: 35px;
    content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);    
}

.btn.logout {
    color: #bf5c5c;
    text-decoration: none;
}