@import url(http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Teko);

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: url('/../www/images/white_wall_hash.png');
}

#main {
    width: 1000px;
    margin: 0 auto;
}

#top {
    background-color: black;
    height: 60px;
    border-bottom: 3px solid #4ABEF9;
}

#top header {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 10px;
}

#top h1 {
    color: white;
    margin: 0;
    padding: 0;
}

#top .title {
    display: inline-block;
    line-height: 45px;
}

#top .title a {
    text-decoration: none;
    color: white;
    
}

#top .login-container {
    float: right;
    margin-top: 2px;
}

.main.container {
    margin-top: 15px;
}

#result {
    text-align: center;
}

#result input {
    font-size: 1.5em;
    border: 2px solid #4ABEF9;
    text-align: center;
    width: 400px;
}

#upload-area {
    text-align: center;
    height: 700px;
    background: rgba(0, 0, 0, 0.1);
    border: 3px dashed #4ABEF9;
    margin-top: 15px;
}

#upload-area.hover {
    border-color: #4ABEF9;
    border-style: solid;
    box-shadow: 10px 10px 100px 10px #888 inset;    
}

#upload-area p {
    margin-top: 30%;
    font-size: 2em;
    pointer-events: none;
}

#progress-div {
    border: #4ABEF9 1px solid;
    margin: 15px 0px;

    text-align:center;
}

#progress-bar {
    background-color: #4ABEF9;
    height:10px;
    color: #FFFFFF;
    width:20%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}



.btn.auth,
.btn.auth:visited {
    position: relative;
    display: inline-block;
    /* padding: 7px 10px 3px 0px; */
    background: #3b5998;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.btn.auth:hover,
.btn.auth:focus,
.btn.auth:active {
    color: #222;
    text-decoration: none;
}

.btn.auth:before {
    float: left;
    
}

.btn.auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Facebook (extends .btn-auth)
   ========================================================================== */

.btn.facebook,
.btn.facebook:visited {
    background: #3b5998;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-right: 10px;
    padding-top: 5px;
}

.btn.facebook:hover,
.btn.facebook:focus {
    color: #fff;
    background-color: #3b5998;
    
}

.btn.facebook:active {
    background: #354f88;
}

/** Icon */
.btn.facebook:before {
    margin-top: -5px;
    margin-right: 10px;
    background-color: #354f88;
    padding: 5px 0px 2px 0px;
    width: 35px;
    content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);    
}

.btn.logout {
    color: #bf5c5c;
    text-decoration: none;
}